<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcdull.cert">

    <permission android:name="com.mcdull.cert.permission.MIPUSH_RECEIVE" />

    <uses-permission android:name="com.mcdull.cert.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 【必选】用以设置前台是否显示通知> -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        //小米推送
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        //下载器
        <receiver android:name="com.mcdull.cert.receiver.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MIBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:exported="true" />
        <service android:name="com.xiaomi.push.service.XMPushService" />
        <service android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        //end

        //友盟自动更新
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5539b33667e58e39770036bd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //end

        //高德地图
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ae7b494e8b02e5321fff0b10060bf68a" />
        //end
        <activity
            android:name=".activity.LoginRegisterActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ScoreActivity"
            android:label="@string/title_activity_score"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectedCourseIDActivity"
            android:label="@string/title_activity_selected_course_id"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamActivity"
            android:label="@string/title_activity_exam"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReExamActivity"
            android:label="@string/title_activity_re_exam"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ECardActivity"
            android:label="@string/title_activity_ecard"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CallStudentInClassActivity"
            android:label="@string/title_activity_ecard"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CetSearchScheduleActivity"
            android:label="@string/title_activity_cetsearch_schedule"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CetSearchActivity"
            android:label="@string/title_activity_cet_search"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LibraryScheduleActivity"
            android:label="@string/title_activity_library_schedule"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LibraryActivity"
            android:label="@string/title_activity_library"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CourseActivity"
            android:label="@string/title_activity_import_course"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDataActivity"
            android:label="@string/title_activity_my_data"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsActivity"
            android:label="@string/title_activity_details"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BugFeedbackActivity"
            android:label="@string/title_activity_bug_feedback"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnrollActivity"
            android:label="@string/title_activity_enroll"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowEnrollActivity"
            android:label="@string/title_activity_show_enroll"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TripActivity"
            android:label="@string/title_activity_trip"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CERTActivity"
            android:label="@string/title_activity_cert"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JoinCERTActivity"
            android:label="@string/title_activity_join_cert"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepairActivity"
            android:label="@string/title_activity_repair"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyActivity"
            android:label="@string/title_activity_modify"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ThemeActivity"
            android:label="@string/title_activity_theme"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepairSucActivity"
            android:label="@string/title_activity_repair_suc"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignInJWCActivity"
            android:label="@string/title_activity_sign"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeatherActivity"
            android:label="@string/title_activity_weather"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.WeatherSearchActivity"
            android:label="@string/title_activity_weathersearch"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme"/>

    </application>



</manifest>